nav {
  border-right: 3px solid $border-color;
  min-width: 205px;
  height: 90vh;
  font-size: 1.2em;
}

.head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
}

.projects {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  padding-top: 5px;
  border-bottom: 1px solid $border-color;
}

.project:hover {
  cursor: pointer;
  border-color: black;
}

#proj-name {
  border: none;
  border-left: 1px solid $border-color;
  // width: 10%;
  padding: 3px;
}

#proj-name:focus {
  outline: none;
}

#add-task {
  cursor: pointer;
}

#add-task:hover {
  color: $lime;
}
