main {
  margin: 20px;
  user-select: none;
}

.task {
  margin: 30px;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 3fr 1.5fr;
  justify-items: center;
  border: 1px solid $border-color;
  padding: 3px;
  padding-top: 6px;
}

.task:hover {
  border-color: black;
  cursor: pointer;
}

.task-head {
  border: none;
}

#edit:hover {
  color: rgb(7, 162, 162);
}

#delete:hover {
  color: rgb(175, 2, 2);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.edit {
  cursor: pointer;
  color: gray;
  text-decoration: none;
}

#add {
  margin: 20px;
  margin-left: 50px;
  margin-right: 10px;
}

#add:hover {
  color: $lime;
  cursor: pointer;
}
