@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

.body {
  display: flex;
}

@import "header";
@import "nav";
@import "tasks";
